body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #f0f0f0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: calc(30% - 20px); 
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.login-form button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}
#controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
}

a {
  color: #7775ad;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #a8a6f1;
}